﻿<div class="container-fluid conya">
  <div class="side-left">
    <div class="sid-layy">
      <div class="row slid-roo">
      </div>
    </div>
  </div>

  <div class="side-right">
    <img class="logo" src="../../assets/logo@2x.jpg"/>

    <div class="login-title">Login</div>
    <div class="signup-panel">
      <p>Don't have account yet?</p>
      <p class="href-link"><a routerLink="/signup"> Sign up</a></p>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
      <div class="form-row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
          <mat-error
            *ngIf="loginFormControls?.email?.hasError('email') && !loginFormControls?.email?.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginFormControls?.email?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" formControlName="password" [errorStateMatcher]="matcher">
          <mat-error *ngIf="loginFormControls?.password?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row skjh">
        <span> <a href="" class="href-link">Forget Password ?</a></span>
      </div>

      <div class="form-row dfr">
        <button type="submit" class="btn btn-sm btn-success">Login</button>
      </div>

    </form>
    <div *ngIf="error" style="color: red">{{error}}</div>
  </div>
</div>
