﻿<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light" id="sidebar-wrapper" *ngIf="currentUser" >
    <div class="sidebar-heading" style="width: 200px"><img src="../assets/logo@2x.jpg"/></div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/dashboard">
        <span><img width="20px" src="../assets/icons/dashboard@2x.png"/></span>
        <span class="nav-title">Dashboard</span>
      </a>

      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/incoming-enq">
        <span><img width="20px" src="../assets/icons/incoming-enq@2x.png"/></span>
        <span class="nav-title">Incoming Enquiries</span>
      </a>

      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/incoming-quotations">
        <span><img width="20px" src="../assets/icons/incoming-qout@2x.png"/></span>
        <span class="nav-title">Incoming Quotations</span>
      </a>

      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/products">
        <span><img width="20px" src="../assets/icons/product@2x.png"/></span>
        <span class="nav-title">Products</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/my-request">
        <span><img width="20px" src="../assets/icons/my-request@2x.png"/></span>
        <span class="nav-title">My Request</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/order-history">
        <span><img width="20px" src="../assets/icons/order@2x.png"/></span>
        <span class="nav-title">Order History</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/profile">
        <span><img width="20px" src="../assets/icons/profile@2x.png"/></span>
        <span class="nav-title">Profile</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/settings">
        <span><img width="20px" src="../assets/icons/setting@2x.png"/></span>
        <span class="nav-title">Setting</span>
      </a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" *ngIf="currentUser" >

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">
              <span><img width="20px" src="../assets/icons/logout@2x.png"/></span>
              <span class="nav-title">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid conya">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
