﻿<div class="container-fluid conya">
  <div class="side-left">
    <div class="sid-layy">
      <div class="row slid-roo">
      </div>
    </div>
  </div>

  <div class="side-right">
    <img class="logo" src="../../assets/logo@2x.jpg"/>

    <div class="login-title">Register</div>
    <div class="signup-panel">
      <p>Already have an account?</p>
      <p class="href-link"><a routerLink="/login"> Login</a></p>
    </div>

    <form (ngSubmit)="registerUser()" [formGroup]="loginForm" class="login-form">

      <div class="form-row">
        <mat-form-field class="full-width">
          <input matInput placeholder="First and last name" formControlName="name" [errorStateMatcher]="matcher">
          <mat-error *ngIf="loginFormControls?.name?.hasError('required')">
            Full Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email address" formControlName="email" [errorStateMatcher]="matcher">
          <mat-error
            *ngIf="loginFormControls?.email?.hasError('email') && !loginFormControls?.email?.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginFormControls?.email?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" formControlName="password" [errorStateMatcher]="matcher">
          <mat-error *ngIf="loginFormControls?.password?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="full-width">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender.id">
              {{gender.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Age" formControlName="age" type="number">
        </mat-form-field>
      </div>

      <div class="form-row dfr">
        <button type="submit" class="btn btn-sm btn-success">Register</button>
      </div>

    </form>
  </div>
</div>
