﻿.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.form-row {
  width: 100%;
  padding: 0;
  margin: 0;
}

.login-title {
  margin-top: 70px;
  font-size: x-large;
}

.href-link, a:visited {
  color: #039af9;
}

.signup-panel p {
  display: inline
}

.side-left {
  background-color: #FFF;
  height: 100%;
  width: calc(100% - 600px);
  float: left;
  background-image: url(../../assets/register-bg.jpg);
  background-size: 100%;
}
