﻿.box-wrapper {
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  float: none;
  margin-bottom: 10px;
}

.box {
  position: relative;
  -webkit-border-radius: 8px;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
  width: 300px;
  background: #f2f5fa;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 65px;
}

.box-inner {
  padding: 30px 50px;
  text-align: left;
}

.avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: -75px;
  margin-left: -75px;
  left: 50%;
  position: absolute;
}

.avatar img {
  width: 150px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
}

.label {
  font-weight: bold;
}

.info {
  font-size: smaller;
}
