﻿<div style="padding: 10px;">

  <div style="background: white">
    <div class="box-wrapper">
      <div class="box">
        <div class="avatar">
          <img src="../../assets/dp@2x.jpg"/>
        </div>
        <div class="box-inner">
          <p class="label">Full name</p>
          <p class="info">{{user?.name}}</p>

          <p class="label">Email</p>
          <p class="info">{{user?.email}}</p>

          <p class="label">Gender</p>
          <p class="info">{{user?.gender === '0' ? 'Male' : 'Female'}}</p>

          <p class="label">Age</p>
          <p class="info">{{user?.age}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
